* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.map-container {
  position: relative;
}

.toggle-layers-button {
  background-color: black;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}