@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/dist/ol-ext.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.map-container {
  position: relative;
}

.sticky-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

.legend {
  padding: 0;
}

.legend-item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

.data-indicator {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  border: 1px solid black;
}

.toggle-layers-button {
  background-color: black;
  color: white;
  border-radius: 8px;
  box-shadow: none;
  border: none;
  padding: 18px 38px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
